/* RESET  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    padding-top: 60px;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}

.border{
    border: 1px solid black;
}

/* Padding */

.pad-t-50{
    padding-top: 50px;
}

.pad-t-30{
    padding-top: 30px;
}

.pad-r-20{
    padding-right: 20px;
}

.pad-t-60{
    padding-top: 60px;
}

.pad-l-20{
    padding-left: 20px;
}

.pad-b-20{
    padding-bottom: 20px;
}

/* Margin */

.marg-b-20{
    margin-bottom: 20px;
}

.marg-t-20{
    margin-top: 20px;
}

.marg-t-10{
    margin-top: 10px;
}


/* Setting dei titoli*/
h1{
    font-size: 50px;
    padding-right: 50px;
}

h2{
    margin: 30px 0;
}

.inline{
    display: inline-block;
}
/* Divisore di sezione */

.section-65{
    width: 65%;
}

.section-35{
    width: 35%;
}

/* ***********Generics*********** */

/* Container */

.big-container{
    max-width: 1000px;
    margin: 0 auto;
}

.small-container{
    max-width: 800px;
    margin: 0 auto;
}

.center{
    text-align: center;
}

/*********** Flex Utilities ************/

/* Flexiamo i container */
.flex-container{
    display: flex;
}

.content-between{
    justify-content: space-between;
}

.content-center{
    align-items: center;
    justify-content: center;
}

.wrap{
    flex-wrap: wrap;
}

/* *********** HEADER ********* */

header{
    background-color: white;
    min-height: 60px;
    max-width: 100%;
    padding: 20px;

    /* cambio posizione */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}

/* modelliamo il logo nell'header */

header img{
    height: 20px;
    display: block;
}

/* padding tra i link dell'header */

header .flex-container div{
    font-size: 12px;
}

/* Setting del bottone 'Inizia' */

.init-button{
    background-color: #2075FF;
    min-height: 20px;
    min-width: 50px;
}

/* colorazione scritta nel button 'iniza' */
header .init-button a{
    color: white;
}

header .init-button div{
    line-height: 20px;
    text-align: center;
    margin-right: 0;
    padding: 2px;
}

/* Spaziature nell'header */

header .flex-container.left-head > div{
    margin-right: 20px;
}

header .flex-container.right-head > div{
    margin-left: 20px;
}

/* MAIN */

/********* JUMBODRON **********/

.jumbodron{
    background-color: #B4D0E7;
    height: 520px;
    padding: 50px;
}

.jumbodron img{
    display: block;
    max-width: 100%;
    height: 100%;
}

.jumbodron p{
    font-size: 12px;
    font-weight: normal;
}

/* Modellazione bottone del jumbodron */

.button{
    height: 40px;
    background-color: #2075FF;

    font-size: 12px;
    text-align: center;
    line-height: 40px;
    color: white;
}

.jumbo-button{
    margin-top: 30px;
    width: 150px;
}

/* dimensionamento freccetta nel jumbodron */

.fa-arrow-down{
    font-size: 30px;
}

/* SECTION */

section.small-container{
    margin-top: 100px;
}

.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    line-height: 30px;
    vertical-align: middle;
}

.checkbox{
    height: 30px;
    line-height: 30px;
    margin: 0 30px 30px 0;
}

/* Offerte */

.card{
    width: 30%;
    min-height: 500px;
}

.label{
    height: 30px;
    padding: 3px;
}

.offer{
    min-height: 800px;
    padding-left: 20px;
}

main .offer > ul li{
    margin-bottom: 10px;
}

.button-offer{
    width: 150px;
}

.buy-packet{
    display: block;
    margin: 30px 0 60px 0;
    font-size: 12px;
}

.buy-packet a{
    text-decoration: underline;
    color: #2075FF;
}

.checked-li li::before{
    content: '\2714';
    color: #2075FF;
}

/* Section Team */

.relative{
    position: relative;
    min-height: 200px;
    padding: 30px
}

.relative h3{
    margin: -20px 0 40px 0;
    font-size: 15px;
}

.office-button{
    width: 190px;

    position: absolute;
    top: 20px;
    right: 20px;
}

/* Section partner */

main .section-65 img{
    max-width: 100%;
}

#partner-button{
    background-color: white;
    border: 2px solid black;
    color: black;
    width: 130px;
}

/*  Operazioni Business */

.wrap figure img{
    width: 100%;
    height: 150px;
}

.operation{
    width: 30%;
}

/* Info clienti Business */

.block{
    width: 400px;
}

.block a{
    color: #2075FF;
}

